enable-pre-post-scripts=true
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
prefer-workspace-packages=true
registry=https://registry.npmjs.org/
network-timeout=300000
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=120000
network-concurrency=1